* {
    margin: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #c6e9fc;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #04beb1;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

main {
    display: flex;
    min-height: 100vh;
    min-width: min-content;
}

aside {

    background-color: #6cdc6e;
    padding-bottom: 20px;
    min-width: 30%;
    text-align: center;
    color: aliceblue;
    padding: 10px;

}

aside h1 {
    margin-top: 70%;
    font-size: 60px;
}

article {

    background-color: #fbb04b;
    min-width: 60%;
    margin-left: 5%;
    color: aliceblue;
    text-align: center;
    font-size: 60px;
    padding-bottom: 10%;


}

article h1 {
    margin-top: 35%;
    font-size: 60px;
    padding-bottom: 15%;
}

.image-container {
    display: flex;
    flex-grow: 1;
    gap: 10px;
    font-size: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding-bottom: 5%;
}

.image {
    background-color: #fcd248;
    padding-bottom: 10%;
    flex-grow: 1;
    width: min-content;
    align-self: center;
    flex-shrink: 3;

}

footer {

    background-color: #04beb1;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

@media (max-width: 768px) {

    * {
        margin: 1%;
        margin-right: 1%;
        font-size: 25px;
    }

    header {
        margin-top: 15%;
        margin-right: 1%;
    }

    aside h1 {
        font-size: 25px;

    }

    article h1 {
        font-size: 25px;
    }

    article {
        min-width: 55%;

    }

    .image-container {
        margin-top: 10%;
        flex-direction: column;
        align-items: center;
    }

    main {
        min-height: 60vh;
    }


    .image {
        padding-left: 4%;
        padding-right: 4%;
    }
}