* {
    margin: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #c6e9fc;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #04beb1;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

main {
    display: flex;
    min-height: 100vh;
}

aside {

    background-color: #6cdc6e;
    padding-bottom: 20px;
    min-width: 30%;
    text-align: center;
    color: aliceblue;
    padding: 10px;

}

aside h1 {
    margin-top: 70%;
    font-size: 60px;
}

article {

    background-color: #fbb04b;
    min-width: 60%;
    margin-left: 5%;
    color: aliceblue;
    text-align: center;
    font-size: 60px;


}

article h1 {
    margin-top: 30%;
    font-size: 60px;
}

.image-container {
    display: flex;
    flex-grow: 1;
    gap: 10px;
    font-size: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding-bottom: 10%;
}

.image {
    background-color: #fcd248;
    padding-bottom: 10%;
    flex-grow: 1;
    width: min-content;
    align-self: center;
    flex-shrink: 3;

}

footer {

    background-color: #04beb1;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}